<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/adm.css">
    <title>Perfil Administrador</title>
</head>
<body>
    <header>
        <a href="/"><img src="img/Logotipo.png" alt="logo do site" class="logoHome"></a>  
                
        <button class="hamburguer">
            <div class="bar">
            </div>
        </button>
        
        <nav class="mobile-nav">
            
            <a href="/perfil"><img src="img/icon_user_u27.svg" alt="foto de usuario"></a>
            <h4>Entre ou cadastre sua conta</h4>
            <a href="/login" class="entrar">Entrar</a>
            <a href="/cadastro" class="cadastrar">Cadastrar</a>
            <a href="/" class="itemMenu"> Início </a>
            <a href="/premium" class="itemMenu"> Premium </a>
            <a href="/Comunidade" class="itemMenu"> Comunidade </a>
            <a href="/discovery" class="itemMenu"> Descobrir </a>
            <a href="/ajuda" class="itemMenu"> Ajuda </a>
            <a href="/sobre" class="itemMenu"> Sobre </a>
            <a href="/sair" class="itemMenu"> Sair </a>
        </nav>
    </header>

    <main>

        <h2 class="adm">Administrador</h2>
   
        <div class="Fundo">
        <img src="img/Tabela.svg" class="Tabela">
        <h2 class="Acessos">Acessos</h2>
        <img src="img/moeda.svg" class="moeda">
        <h2 class="Rendimento">Rendimento</h2>
        </div>


        <h2 class="gerenciar">Gerenciar Comentários</h2>
     

        <div class="container">

            <div class="image-and-comment">
              <div class="Fundo2">
                <img src="img/homemricardo.svg" class="ric">
                <h4 class="melo">Ricardo</h4>
                <h3 class="cardin">@ricardomelo</h3>
                <p class="coisa">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo.</p>
              </div>
      
              <div class="image-and-comment">
                <div class="Fundo3">
                  <img src="img/homemricardo.svg" class="ric">
                  <h4 class="melo">Ricardo</h4>
                  <h3 class="cardin">@ricardomelo</h3>
                  <p class="coisa">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo.</p>
                </div>
      
            </div>
         </div>
        
        
    </main>


    <footer>
        <address>
     <div class="footeratendcliente">
         <h3> <b>ATENDIMENTO AO <br>CLIENTE</b></h3>
         <h3 class="faleconosco">Fale Conosco</h3>
     </div>
     
         <div class="Footersobrespreadfree">
         <h3 class="sobrespread"><b>SOBRE A SPREADFREE</b></h3>
         <h3>Sobre-nós</h3>
         <h3 clas="politicadprivacidade">Políticas de privacidade</h3>
     </div>
     
     <div class="footersiganos">
         <h3 class="Siga"> <b>SIGA-NOS</b></h3>
         <img src="img/instagram.png" alt="" class="instaLogo"> <h3 class="insta">Instagram</h3>
         <img src="img/twitterimg.svg" alt="" class="twitterLogo"> <h3 class="twitter">Twitter</h3>
     </div>
     
     <div class="footercontato">
         <h3 class="contat"> <b>CONTATO</b></h3>
         <img src="img/arrobaIcon.svg" alt="" class="arroba"> <h3 class="emailOficial">spreadfree@gmail.com</h3>
     </div>
     
        <div class="footerMarcaRegistrada">
        <h4 class="pt-br">Português (Brasil)</h4>
         <img src="img/marcaregistrada.svg" alt="" class="cFooter">
         <h3 class="footerSF">SpreadFree 2022</h3>
    </div>
    </address>
    </footer>
    
    <script src="js/script.js"></script>

</body>
</html>