<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/editor.css">
    <title>Editor de video</title>
</head>
<body>
    <header>
        <a href="/"><img src="img/Logotipo.png" alt="logo do site" class="logoHome"></a>  
                
        <button class="hamburguer">
            <div class="bar">
            </div>
        </button>
        
        <nav class="mobile-nav">
            
            <a href="/perfil"><img src="img/icon_user_u27.svg" alt="foto de usuario"></a>
            <h4>Entre ou cadastre sua conta</h4>
            <a href="/login" class="entrar">Entrar</a>
            <a href="/cadastro" class="cadastrar">Cadastrar</a>
            <a href="/" class="itemMenu"> Início </a>
            <a href="/premium" class="itemMenu"> Premium </a>
            <a href="/Comunidade" class="itemMenu"> Comunidade </a>
            <a href="/discovery" class="itemMenu"> Descobrir </a>
            <a href="/ajuda" class="itemMenu"> Ajuda </a>
            <a href="/sobre" class="itemMenu"> Sobre </a>
            <a href="/sair" class="itemMenu"> Sair </a>
        </nav>
    </header>
    <br></br>

    <main>
        <h1 class="Titulodestaq">Destaque</h1>
        <div class="retanguloamarelo">  
    <img src="img/destaqueeditordevideo.png" class="editordevideodestaque"/>
    <div class="Fundoroxomurilo">
    <h3 class="Titulomurilo">Murilo</h3></div>
    <div class="Fundotexto">
        <p class="Textomurilo">Dedicado a criar conteúdo audiovisual de alta qualidade e impacto, que atenda ás necessidades de meus clientes, independente do tamanho do projeto.</p> </div>
        <p class="avaliacaotexto">5,0</p>
        <img src="img/estrela.svg" class="estrelafundo"/>


<div class="fundobranco">
    <h1 class="TituloMaisNessaarea">Mais nessa área</h1> </div>

    <div class="retanguloaIgor">
        <div class="fundoroxoIgor">
    <img src="img/igor.svg" class="igorimg"/>
    <h2 class="Tituloigor">Igor</h2>
    <img src="img/meio5estrela.png" class="estrela"/> </div> 
    <img src="img/igoreditordevideo.png" class="igoreditor"/>
    <h3 class="arrobaigor">@Igorceg</h3>
    <p class="textoigor"> Editor de vídeos altamente criativo e experiente, dedicado a produzir conteúdo visual de alta qualidade que atenda às necessidades exclusivas de cada cliente.</p>
    <img src="img/iconecoracao.svg" class="iconecoracao"/>


<div class="retanguloaEdson">
    <div class="fundoroxoEdson">
<img src="img/edson.svg" class="edsonimg"/>
<h2 class="Tituloedson">Edson</h2>
<img src="img/star.png" class="estrelacheia"/> 
<img src="img/edsoneditordevideo.png" class="edsoneditor"/>
<h3 class="arrobaedson">@edkio0101</h3>
<p class="textoedson">Sou um editor de vídeos especializado em pós-produção, com habilidades em edição, correção de cor e efeitos visuais, criando vídeos impressionantes e profissionais para empresas e indivíduos.</p>
<img src="img/iconecoracao.svg" class="iconecoracaoo"/>



<div class="retanguloaValeria">
    <div class="fundoroxoValeria">
<img src="img/valeria.svg" class="valeriaimg"/>
<h2 class="Titulovaleria">Valéria</h2>
<img src="img/" /> 
<img src="img/valeriaeditoradvideo.png" class="valeriaeditora"/>
<h3 class="arrobavaleria">@vavivi89</h3>
<p class="textovaleria">Editor de vídeos experiente em storytelling, capaz de contar histórias envolventes e cativantes por meio de imagens e sons, criando um impacto emocional duradouro nos espectadores.</p>
<img src="img/iconecoracao.svg" class="iconecoracaooo"/>


         <div class="retanguloaVanessa">
            <div class="fundoroxoVanessa">
        <img src="img/vanessa.svg" class="vanessaimg"/>
        <h2 class="Titulovanessa">Vanessa</h2>
        <img src="img/star.png" class="cincoestrela"/> 
        <img src="img/vanessaeditoradvideo.png" class="vanessaeditora"/>
        <h3 class="arrobavanessa">@vavaaa99</h3>
        <p class="textovanessa">Sou um editora de vídeos com habilidades em motion graphics, animação 2D e 3D, e produção de vinhetas e chamadas para vídeos, adicionando um toque criativo e profissional aos projetos de vídeo.</p>
        <img src="img/iconecoracao.svg" class="iconecoracaoooo"/>
    



    </main>

    <footer>
        <address>
     <div class="footeratendcliente">
         <h3> <b>ATENDIMENTO AO <br>CLIENTE</b></h3>
         <h3 class="faleconosco">Fale Conosco</h3>
     </div>
     
         <div class="Footersobrespreadfree">
         <h3 class="sobrespread"><b>SOBRE A SPREADFREE</b></h3>
         <h3>Sobre-nós</h3>
         <h3 clas="politicadprivacidade">Políticas de privacidade</h3>
     </div>
     
     <div class="footersiganos">
         <h3 class="Siga"> <b>SIGA-NOS</b></h3>
         <img src="img/instagram.png" alt="" class="instaLogo"> <h3 class="insta">Instagram</h3>
         <img src="img/twitterimg.svg" alt="" class="twitterLogo"> <h3 class="twitter">Twitter</h3>
     </div>
     
     <div class="footercontato">
         <h3 class="contat"> <b>CONTATO</b></h3>
         <img src="img/arrobaIcon.svg" alt="" class="arroba"> <h3 class="emailOficial">spreadfree@gmail.com</h3>
     </div>
     
        <div class="footerMarcaRegistrada">
        <h4 class="pt-br">Português (Brasil)</h4>
         <img src="img/marcaregistrada.svg" alt="" class="cFooter">
         <h3 class="footerSF">SpreadFree 2022</h3>
    </div>
    </address>
    </footer>
    
    <script src="js/script.js"></script>
    
    
</body>
</html>