<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/pedreiro.css">
    <title>Pedreiro</title>
</head>
<body>
    <header>
        <a href="/"><img src="img/Logotipo.png" alt="logo do site" class="logoHome"></a>  
                
        <button class="hamburguer">
            <div class="bar">
            </div>
        </button>
        
        <nav class="mobile-nav">
            
            <a href="/perfil"><img src="img/icon_user_u27.svg" alt="foto de usuario"></a>
            <h4>Entre ou cadastre sua conta</h4>
            <a href="/login" class="entrar">Entrar</a>
            <a href="/cadastro" class="cadastrar">Cadastrar</a>
            <a href="/" class="itemMenu"> Início </a>
            <a href="/premium" class="itemMenu"> Premium </a>
            <a href="/Comunidade" class="itemMenu"> Comunidade </a>
            <a href="/discovery" class="itemMenu"> Descobrir </a>
            <a href="/ajuda" class="itemMenu"> Ajuda </a>
            <a href="/sobre" class="itemMenu"> Sobre </a>
            <a href="/sair" class="itemMenu"> Sair </a>
        </nav>
    </header>
    <br></br>

<main>
    <h1 class="Titulodestaq">Destaque</h1>

    <div class="retanguloamarelo">
<img src="img/pedreirodestaque.png" class="pedreirodestaque"/>/>
<div class="FundoroxoLeonardo">
<h3 class="TituloLeonardo">Leonardo</h3> </div>
<div class="Fundotexto">
<p class="textoleo">Leonardo exerce a profissão de pedreiro há 5 anos e mudou a vida de diversas pessoas com seus serviços.</p> </div>
<p class="avaliacaotexto">5,0</p>
<img src="img/estrela.svg"   class="estrelafundo"/>


<div class="fundobranco">
<h1 class="TituloMaisNessaarea">Mais nessa área</h1></div>


<div class="retanguloaR">
    <div class="fundoroxoR">
    <img src="img/rafael.svg" class="rafaelimg"/>
    <h2 class="Titulorafael">Rafael</h2>
    <img src="img/meio5estrela.png" class="estrela" /> </div>
    <img src="img/rafaelpedreiro.svg" class="rafaelpedreiro"/>
    <h3 class="arrobarafael">@rafs101</h3>
    <p class="textorafael">Sou pedreiro com orgulho e amo minha profissão. Se estiver afim de desenrolar algum serviço, entra no meu perfil.</p>
    <img src="img/iconecoracao.svg"   class="iconecoracao"/>



 <div class="retanguloaRenato">
    <div class="fundoroxorenato">
    <img src="img/renatonegro.svg" class="Renatoimg"/>
     <h2 class="TituloRenato">Renato</h2>
     <img src="img/star.png" class="estrelacheia"/>
     <img src="img/renatopretopedreiro.svg" class="renatopedreiro"/>
     <h3 class="arrobarenato">@reneviii</h3>
     <P class="textorenato">Faço preços justos e favoráveis de acordo com as condições do cliente. Confira em meu perfil.</P>
     <img src="img/iconecoracao.svg" class="iconecoracaoo"/>
     


     <div class="retanguloaAmoedo">
        <div class="fundoroxoamoedo">
     <img src="img/amoedo.svg" class="amoedoimg"/>
     <h2 class="Tituloamoedo">Amoedo</h2>
     <img src="img/"/>
     <br></br>
     <img src="img/amoedopedreiro.svg" class="amoedopedreiro"/>
     <h3 class="arrobamoedo">@moed12</h3>
     <p class="textoamoedo"> Olá! Tenho prazer em fazer um serviço bem feito! Posso demorar um pouco pois a minha agenda é meio cheia. Mas sempre entrego um ótimo resultado</p>
     <img src="img/iconecoracao.svg" class="iconecoracaooo"/>     
     <br></br>


     <div class="retanguloaMarcos">
        <div class="fundoroxomarcos">
     <img src="img/marcos.svg" class="marcosimg"/>
     <h2 class="Titulomarcos">Marcos</h2>
     <img src="img/meio5estrela.png" class="estrelacheia"/>
     <img src="img/marcospedreiro.svg" class="marcospedreiro"/>
      <h3 class="arrobamarcos">@marcos_ant</h3>
      <p class="textomarcos">Já planejei e montei a casa de milhares de brasileiros. Tenho muita experiência nessa área e ficaria grato em ajudar.</p>
      <img src="img/iconecoracao.svg" class="iconecoracaoooo"/>
      <br></br>
   </main>
 
   <footer>
    <address>
 <div class="footeratendcliente">
     <h3> <b>ATENDIMENTO AO <br>CLIENTE</b></h3>
     <h3 class="faleconosco">Fale Conosco</h3>
 </div>
 
     <div class="Footersobrespreadfree">
     <h3 class="sobrespread"><b>SOBRE A SPREADFREE</b></h3>
     <h3>Sobre-nós</h3>
     <h3 clas="politicadprivacidade">Políticas de privacidade</h3>
 </div>
 
 <div class="footersiganos">
     <h3 class="Siga"> <b>SIGA-NOS</b></h3>
     <img src="img/instagram.png" alt="" class="instaLogo"> <h3 class="insta">Instagram</h3>
     <img src="img/twitterimg.svg" alt="" class="twitterLogo"> <h3 class="twitter">Twitter</h3>
 </div>
 
 <div class="footercontato">
     <h3 class="contat"> <b>CONTATO</b></h3>
     <img src="img/arrobaIcon.svg" alt="" class="arroba"> <h3 class="emailOficial">spreadfree@gmail.com</h3>
 </div>
 
    <div class="footerMarcaRegistrada">
    <h4 class="pt-br">Português (Brasil)</h4>
     <img src="img/marcaregistrada.svg" alt="" class="cFooter">
     <h3 class="footerSF">SpreadFree 2022</h3>
</div>
</address>
</footer>

<script src="js/script.js"></script>

</body>
</html>