<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/professor.css">
    <title>Professor particular</title>
</head>
<body>
    
    <header>
        <a href="/"><img src="img/Logotipo.png" alt="logo do site" class="logoHome"></a>  
                
        <button class="hamburguer">
            <div class="bar">
            </div>
        </button>
        
        <nav class="mobile-nav">
            
            <a href="/perfil"><img src="img/icon_user_u27.svg" alt="foto de usuario"></a>
            <h4>Entre ou cadastre sua conta</h4>
            <a href="/login" class="entrar">Entrar</a>
            <a href="/cadastro" class="cadastrar">Cadastrar</a>
            <a href="/" class="itemMenu"> Início </a>
            <a href="/premium" class="itemMenu"> Premium </a>
            <a href="/Comunidade" class="itemMenu"> Comunidade </a>
            <a href="/discovery" class="itemMenu"> Descobrir </a>
            <a href="/ajuda" class="itemMenu"> Ajuda </a>
            <a href="/sobre" class="itemMenu"> Sobre </a>
            <a href="/sair" class="itemMenu"> Sair </a>
        </nav>
    </header>
    <br></br>
    
    <main>

        <h1 class="Titulodestaq">Destaque</h1>
        <div class="retanguloamarelo">  
    <img src="img/professoraparticulardestaque.png" class="professoradestaque"/>
    <div class="Fundoroxofabia">
    <h3 class="Titulofabia">Fabia</h3></div>
    <div class="Fundotexto">
        <p class="Textofabia">comprometida em ajudar meus alunos a alcançar seus objetivos acadêmicos por meio de aulas personalizadas, adaptadas ás suas necessidades.</p> </div>
        <p class="avaliacaotexto">5,0</p>
        <img src="img/estrela.svg" class="estrelafundo"/>


<div class="fundobranco">
    <h1 class="TituloMaisNessaarea">Mais nessa área</h1> </div>


    <div class="retanguloaFabricio">
        <div class="fundoroxoFabricio">
    <img src="img/carlos.svg" class="fabricioimg"/>
    <h2 class="Titulofabricio">Fabricio</h2>
    <img src="img/meio5estrela.png" class="estrela"/> </div> 
    <img src="img/fabricioprofessor.svg" class="fabricioprofessor"/>
    <h3 class="arrobafabricio">@fabttt</h3>
    <p class="textofabricio"> Experiente e dedicado, oferecendo aulas personalizadas e eficazes para ajudar os alunos a alcançar seus objetivos acadêmicos e desenvolver suas habilidades de aprendizado.</p>
    <img src="img/iconecoracao.svg" class="iconecoracao"/>

    <div class="retanguloaGabriela">
        <div class="fundoroxoGabriela">
    <img src="img/gabriela.svg" class="gabrielaimg"/>
    <h2 class="Titulogabriela">Gabriela</h2>
    <img src="img/star.png" class="estrelacheia"/> 
    <img src="img/gabrielaprofessora.svg" class="gabrielaprofessora"/>
    <h3 class="arrobagabriela">@gabbpr</h3>
    <p class="textogabriela">Sou uma tutora de matemática com vasta experiência em ensinar conceitos complexos de matemática de forma clara e acessível, ajudando os alunos a melhorar suas notas e compreender melhor a matéria.</p>
    <img src="img/iconecoracao.svg" class="iconecoracaoo"/>

    <div class="retanguloaAnaluiza">
        <div class="fundoroxoAnaluiza">
    <img src="img/Analu.svg" class="analuizaimg"/>
    <h2 class="Tituloaanaluisa">Ana Luiza</h2>
    <img src="img/" /> 
    <img src="img/analuprofessora.svg" class="analuizaprofessora"/>
    <h3 class="arrobaanaluiza">@analuu</h3>
    <p class="textoanaluiza">Sou uma professora particular de música com habilidades em ensinar piano, violão, canto e teoria musical, ajudando os alunos a desenvolverem suas habilidades musicais e a se expressarem artisticamente. </p>
    <img src="img/iconecoracao.svg" class="iconecoracaooo"/>

     
    <div class="retanguloaMarcoss">
        <div class="fundoroxoMarcoss">
    <img src="img/marcos2.svg" class="marcossimg"/>
    <h2 class="Titulomarcoss">Marcos</h2>
    <img src="img/star.png" class="cincoestrela"/> 
    <img src="img/marcos2professor.svg" class="marcossprofessor"/>
    <h3 class="arrobamarcoss">@marcos_ant</h3>
    <p class="textomarcoss">Professor particular de idiomas com habilidades em ensinar inglês, espanhol, francês e alemão, adaptando as aulas às necessidades específicas de cada aluno e oferecendo suporte completo para ajudá-los a alcançar a fluência.</p>
    <img src="img/iconecoracao.svg" class="iconecoracaoooo"/>

    
    </main>


    <footer>
        <address>
     <div class="footeratendcliente">
         <h3> <b>ATENDIMENTO AO <br>CLIENTE</b></h3>
         <h3 class="faleconosco">Fale Conosco</h3>
     </div>
     
         <div class="Footersobrespreadfree">
         <h3 class="sobrespread"><b>SOBRE A SPREADFREE</b></h3>
         <h3>Sobre-nós</h3>
         <h3 clas="politicadprivacidade">Políticas de privacidade</h3>
     </div>
     
     <div class="footersiganos">
         <h3 class="Siga"> <b>SIGA-NOS</b></h3>
         <img src="img/instagram.png" alt="" class="instaLogo"> <h3 class="insta">Instagram</h3>
         <img src="img/twitterimg.svg" alt="" class="twitterLogo"> <h3 class="twitter">Twitter</h3>
     </div>
     
     <div class="footercontato">
         <h3 class="contat"> <b>CONTATO</b></h3>
         <img src="img/arrobaIcon.svg" alt="" class="arroba"> <h3 class="emailOficial">spreadfree@gmail.com</h3>
     </div>
     
        <div class="footerMarcaRegistrada">
        <h4 class="pt-br">Português (Brasil)</h4>
         <img src="img/marcaregistrada.svg" alt="" class="cFooter">
         <h3 class="footerSF">SpreadFree 2022</h3>
    </div>
    </address>
    </footer>
    
    <script src="js/script.js"></script>
    
        
        
</body>
</html>